body {
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
   }

img {
    background-image: none;
    position: absolute;
    width: 64px;
    height: 40px;
    left: 272px;
    top: 16px;
    border-radius: 50px;
    
}

h1 {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 100px;
    top: 24px;
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #0011AE;
}

img#users {
    position: absolute;
    left: 1.50%;
    right: 70.56%;
    top: 25.50%;
    
}

img#cloud {
    position: absolute;
    left: 1.50%;
    right: 80%;
    top: 40.00%;
    
}

img#face {
    position: absolute;
    left: 1.50%;
    right: 80.56%;
    top: 54.50%;
}

img#senhas {
    position: absolute;
    left: 1.50%;
    right: 80.83%;
    top: 68.80%;
}

img#instagram {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 43px;
    top: 510px;
}

img#facebook {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 157px;
    top: 510px;
}

img#twitter {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 265px;
    top: 515px;
}

input#login {
    box-sizing: border-box;
    position: absolute;
    width: 313px;
    height: 49px;
    left: 24px;
    top: 183px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 12px;
}

input#senha {
    box-sizing: border-box;
    position: absolute;
    width: 313px;
    height: 49px;
    left: 24px;
    top: 271px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 12px;
}

button#cadastre-se {
    box-sizing: border-box;
    position: absolute;
    width: 313px;
    height: 49px;
    left: 24px;
    top: 359px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 12px;
}

button#esquecer {
    box-sizing: border-box;
    position: absolute;
    width: 313px;
    height: 49px;
    left: 24px;
    top: 447px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 12px;
}

input#insta {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 49px;
    left: 31px;
    top: 567px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 24.5px;

}

input#faceb {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 49px;
    left: 142px;
    top: 567px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 24.5px;
}

input#twiter {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 49px;
    left: 249px;
    top: 567px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 24.5px;
}

button#button1 {
    position: absolute;
    width: 80px;
    height: 49px;
    left: 31px;
    top: 567px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 10.5px;
}

button#button2 {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 49px;
    left: 142px;
    top: 567px;
    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 10.5px;

}

button#button3 {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 49px;
    left: 249px;
    top: 567px;

    background: rgba(239, 239, 228, 0.9);
    border: 1px solid #000000;
    border-radius: 10.5px;

}